<!DOCTYPE html>
<!--suppress HtmlUnknownTarget -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Robot Cameraman</title>
    <style>
        html, body {
            margin: 0;
            width: 100%;
        }

        body {
            display: grid;
            grid-template-columns: auto 1fr;
        }

        #debugLog {
            grid-column-start: 1;
            grid-column-end: end;
        }

        #angles {
            margin-left: 32px;
        }

        .live-view {
            width: 100%;
            max-width: 640px;
            max-height: 480px;
        }

        .buttons {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: ". . ." ". . ." ". . .";
            height: 100vh;
        }
    </style>
</head>
<body>
    <img class="live-view" src="cam.mjpg" alt="Live View">
    <div class="buttons">
        <input id="fullscreen"
               class="button grid-item"
               type="button"
               value="Fullscreen"
               onpointerup="toggleFullScreen()">
        <input id="up"
               class="button grid-item"
               type="button"
               value="Up"
               onpointerdown="disableOrientation(); fetch('api/tilt_up')"
               onpointerup="fetch('api/stop')">
        <input id="zoom_in"
               class="button grid-item"
               type="button"
               value="+"
               onpointerdown="disableOrientation(); fetch('api/zoom_in')"
               onpointerup="fetch('api/stop')">

        <input id="left"
               class="button grid-item"
               type="button"
               value="Left"
               onpointerdown="disableOrientation(); fetch('api/left')"
               onpointerup="fetch('api/stop')">
        <input id="startTrackingButton"
               type="button"
               class="button"
               value="Track"
               onpointerup="disableOrientation(); fetch('api/start_tracking')">
        <input id="right"
               class="button grid-item"
               type="button"
               value="Right"
               onpointerdown="disableOrientation(); fetch('api/right')"
               onpointerup="fetch('api/stop')">

        <input id="down"
               class="button grid-item"
               type="button"
               value="Orientate"
               onpointerdown="toggleOrientation()">
        <input id="down"
               class="button grid-item"
               type="button"
               value="Down"
               onpointerdown="disableOrientation(); fetch('api/tilt_down')"
               onpointerup="fetch('api/stop')">
        <input id="zoom_out"
               class="button grid-item"
               type="button"
               value="-"
               onpointerdown="disableOrientation(); fetch('api/zoom_out')"
               onpointerup="fetch('api/stop')">
    </div>
    <div id="debugLog">
        <p id="angles"></p>
    </div>
    <script>
      let isOrientationEnabled = false;
      let panAngle = null;
      let oldPanAngle = panAngle;
      let tiltAngle = null;
      let oldTiltAngle = tiltAngle;
      let updateInterval = null;

      function onDeviceOrientation(event) {
        tiltAngle = Math.round(Math.sign(event.gamma) * (90 - Math.abs(event.gamma)));
        const rawPanAngle = tiltAngle >= 0 ? event.alpha : event.alpha + 180;
        panAngle = -Math.round(rawPanAngle % 360);
      }

      function registerUpdateInterval() {
        updateInterval = setInterval(() => {
          if (!isOrientationEnabled) {
            return; // has been disabled in the meantime
          }
          if (panAngle !== oldPanAngle || tiltAngle !== oldTiltAngle ) {
            oldPanAngle = panAngle;
            oldTiltAngle = tiltAngle;
            document.getElementById('angles').innerText =
              `pan: ${panAngle}, tilt: ${tiltAngle}`;
            fetch(`api/angle?pan=${panAngle}&tilt=${tiltAngle}`);
          }
        }, 1000);
      }

      function disableOrientation() {
        if (isOrientationEnabled) {
          toggleOrientation();
        }
      }

      function toggleOrientation() {
        isOrientationEnabled = !isOrientationEnabled;
        if (isOrientationEnabled) {
          addEventListener('deviceorientationabsolute', onDeviceOrientation);
          registerUpdateInterval();
        } else {
          fetch('api/stop');
          removeEventListener('deviceorientationabsolute', onDeviceOrientation);
          clearInterval(updateInterval);
          document.getElementById('angles').innerText = '';
        }
      }

      function toggleFullScreen() {
        if (document.fullscreenElement) {
          document.exitFullscreen()
        } else {
          document.documentElement.requestFullscreen();
        }
      }
    </script>
</body>
</html>
